@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Sono:wght@300&display=swap');
body{
    font-family: 'Sono', sans-serif;
    background-color:#fce5cd;
}

.dark{
  background-color: rgb(43, 40, 40);

}

.dark  #titre1{
  color: #4672FE;
}

.dark .slides > div {
  background-color: #1c1c1e;
}

.dark .slider > a{
  background-color: #1c1c1e;
}

#bouton-theme{
  margin-top: 25px;
}
#titre1{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 40px;
    color:#0b1476;
    border-radius: 10px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;

}
header{
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;

}
#cours{
    margin-left: 60px;
    color: rgb(99, 31, 189);
    margin-top: 30px;

}

a{
    color:rgb(129, 71, 206)
}
a:hover{
    font-size: 30px;
    color: rgb(137, 55, 214);
}

#description{
    color: #e69138;
    text-align: center;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
.def {
	padding: 5px 4px 0px 0px;
	position: relative;
	display: inline-block;
	font-weight: bold;
}

.def .deftext {
    visibility: hidden;
    width: 300px;
    background-color: #747eed;
    color: #fff;
    text-align: space-around;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -150px;
    font-size: 20px;
    }

.def .deftext::after {
        content: " ";
        position: absolute;
        bottom: 100%;  
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #c2aced transparent;
        }
.def:hover .deftext {
    visibility: visible;
}

#logo{

    width: 132px;
    height: 109px;
    position:static;
}
  
.slider {
    width: 800px;
    margin-left: 200px;
    text-align: center;
    overflow: hidden;
}
  
.slides {
    display: flex;
    overflow-x: auto;
  } 
.slides > div {
    flex-shrink: 0;
    width: 400px;
    height: 200px;
    margin-right: 50px;
    border-radius: 10px;
    background: #f8d2a3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }



  
.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
.slider > a:active {
    top: 1px;
  }
.slider > a:focus {
    background:#f2f2df
  }
  

  